.env
# Files below too big to commit to github
results/checkpoint-45000/model.safetensors
results/checkpoint-45000/optimizer.pt
sentiment_analysis/dataset/sentiment140/cache-0fce7d8268b24405.arrow
sentiment_analysis/dataset/sentiment140/data-00000-of-00001.arrow
sentiment_analysis/dataset/tokenized/test/data-00000-of-00001.arrow
sentiment_analysis/dataset/tokenized/train/data-00000-of-00008.arrow
sentiment_analysis/dataset/tokenized/train/data-00001-of-00008.arrow
sentiment_analysis/dataset/tokenized/train/data-00002-of-00008.arrow
sentiment_analysis/dataset/tokenized/train/data-00003-of-00008.arrow
sentiment_analysis/dataset/tokenized/train/data-00004-of-00008.arrow
sentiment_analysis/dataset/tokenized/train/data-00005-of-00008.arrow
sentiment_analysis/dataset/tokenized/train/data-00006-of-00008.arrow
sentiment_analysis/dataset/tokenized/train/data-00007-of-00008.arrow
sentiment_analysis/dataset/tokenized/train/data-00008-of-00008.arrow
sentiment_analysis/dataset/training.1600000.processed.noemoticon.csv
sentiment_analysis/results/checkpoint-22500/model.safetensors
sentiment_analysis/results/checkpoint-22500/optimizer.pt
sentiment_analysis/results/checkpoint-45000/model.safetensors
sentiment_analysis/results/checkpoint-45000/optimizer.pt
sentiment_analysis/results/checkpoint-67500/model.safetensors
sentiment_analysis/results/checkpoint-67500/optimizer.pt
sentiment_analysis/sentiment_model/model.safetensors
requirements.txt
requirements.txt
automatic_sentiment.log
sentiment_log.json
trading_log.json
